@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

@font-face {
  font-family: 'Miso';
  font-weight: 300;
  src: url('/fonts/miso-light.woff') format('woff');
}
@font-face {
  font-family: 'Miso';
  font-weight: 400;
  src: url('/fonts/miso.woff') format('woff');
}
@font-face {
  font-family: 'Miso';
  font-weight: 700;
  src: url('/fonts/miso-bold.woff') format('woff');
}

@font-face {
	font-family: 'Wendy';
	src: url('/fonts/wendy.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-lg leading-loose text-white;
		scroll-behavior: smooth;
    }

	body {
		@apply text-lg leading-loose;
	}

	ol, ul, li {
		@apply text-lg leading-loose;
	}

	a {
		@apply text-blue-300 hover:text-blue-500 font-semibold transition duration-500;
	}

	h1 {
		@apply text-3xl font-semibold mb-8 underline underline-offset-16 decoration-4;
	} 


	b {
		@apply font-semibold;
	}

	ul > li > ul,
    ol > li > ol,
	ol > li > ul,
	ul > li > ol {
        @apply text-base font-normal leading-10;
    }

	p {
		@apply break-words whitespace-normal;
	}

	.heading {
		@apply text-2xl font-bold p-2;
	}

	.navlink {
		@apply h-full flex items-center px-4 border-b-4 border-transparent transition duration-500 hover:border-blue-500;
	}

	.dropdownlink {
		@apply h-full flex items-center p-4;
	}

	.content {
		@apply sm:w-11/12 md:w-10/12 max-w-5xl mx-auto;
	}

	.focused {
		@apply bg-blue-700 !text-white;
	  }

	.bg-placeholder {
		@apply bg-gray-800; 
	}
}

:root {
	--footer-height: 0px; /* Default value */
	--header-height: 0px; /* Default value */
  }